<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywt.console.mapper.ApiLogMapper" >
  <resultMap id="BaseResultMap" type="com.ywt.console.entity.log.ApiLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="business_type" property="businessType" jdbcType="CHAR" />
    <result column="target_type" property="targetType" jdbcType="CHAR" />
    <result column="target_value" property="targetValue" jdbcType="VARCHAR" />
    <result column="operation_type" property="operationType" jdbcType="CHAR" />
    <result column="operation_value" property="operationValue" jdbcType="VARCHAR" />
    <result column="remote_addr" property="remoteAddr" jdbcType="VARCHAR" />
    <result column="user_agent" property="userAgent" jdbcType="VARCHAR" />
    <result column="request_uri" property="requestUri" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, business_type, target_type, target_value, operation_type, operation_value, remote_addr,
    user_agent, request_uri, method, request_time,target_name,hotel_name,room_name
  </sql>

  <select id="findList" resultType="com.ywt.console.models.resmodel.QueryApiLogResModel">
    select <include refid="Base_Column_List"/>
    from sys_api_log
    <where>
      <if test="param.startTime!=null">
        and request_time &gt;= #{param.startTime}
      </if>
      <if test="param.endTime!=null">
        and request_time &lt;= #{param.endTime}
      </if>
    </where>
    order by request_time desc
  </select>
</mapper>
