<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywt.console.mapper.UserTaskMapper">

    <sql id="taskSQL">
        ut.id, ut.user_name userName, ut.task_category_id taskCategoryId, ut.task_category_name taskCategoryName,
        ut.start_time startTime,ut.end_time endTime,ut.instance_id instanceId,ut.state,ut.remark,ut.create_time createTime
    </sql>

    <select id="findList" resultType="com.ywt.console.models.resmodel.UserTaskResModel">
        select <include refid="taskSQL"/>
        from t_user_task ut
        <where>
            and is_delete = '0'
            <if test="null != param.taskCategoryId ">
                and task_category_id = #{param.taskCategoryId}
            </if>
            <if test="null != param.state and param.state != '' ">
                and state = #{param.state}
            </if>
            <if test="null != param.startTime">
                and start_time &gt;= #{param.startTime}
            </if>
            <if test="null != param.endTime">
                and end_time &lt;= #{param.endTime}
            </if>
            <if test="null != param.createBy and param.createBy != '' ">
                and create_by = #{param.createBy}
            </if>
        </where>
    </select>
</mapper>
